body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111;
    color: #F5FCFD;
    text-align: left;
    margin: 0;
    min-height: 100%;
}

header {
    display: block;
}

/* INICI */

#menu {
    display: block;
    background-color: #902020;
    width: 100%;
    height: 70px;
    box-shadow: 0 5px 70px -72px #F5FCFD;
}

#logo img {
    width: 40px;
    padding-left: 2.5%;
    padding-top: 8px;
    float: left;
}

#title h1 {
    color: #F5FCFD;
    box-shadow: 0 1px 1px 1px #111;
    margin-left: 30%;
    padding: 4px;
    font-size: 25px;
    float: left;
    max-width: 200%;
}

img.header {
    width: 100%;
    box-shadow: 0 5px 70px -72px #F5FCFD;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

section {
    background-color: #902020;
    color: #F5FCFD;
}

#blocTitle a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: #f1de9d;
    font-weight: 100;
    font-size: 26px;
}

#blocContent {
    padding: 15px;
    text-align: left;
}

p.bold {
    font-weight: bold;
}

/* BLOC ANUNCIS */

#blocAnuncis {
    padding-top: 15px;
    color: #F5FCFD;
    background-color: #902020;
    width: 45%;
    height: 300px;
    float: left;
    margin: 3%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 2px solid #111;
    border-radius: 5px;
}

/* BLOC CALENDARI */

#blocCalendari {
    padding-top: 15px;
    color: #F5FCFD;
    background-color: #902020;
    width: 28%;
    height: 300px;
    float: right;
    margin: 3%;
    padding-left: 10px;
    margin-right: 8%;
    padding-right: 10px;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 2px solid #111;
    border-radius: 5px;
}

/* BLOC SOCIAL */

#blocSocial {
    padding-top: 15px;
    color: #F5FCFD;
    background-color: #902020;
    width: 20%;
    height: 350px;
    float: left;
    margin: 3%;
    padding-left: 10px;
    margin-left: 8%;
    padding-right: 10px;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 2px solid #111;
    border-radius: 5px;
}

/* BLOC YOUTUBE */

#blocYoutube {
    padding-top: 15px;
    color: #F5FCFD;
    background-color: #902020;
    width: 52%;
    height: 350px;
    float: right;
    margin: 3%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 2%;
    border: 2px solid #111;
    border-radius: 5px;
}

/* BLOC MAP */

#blocMaps {
    padding-top: 15px;
    color: #F5FCFD;
    background-color: #902020;
    width: 54%;
    height: 415px;
    float: left;
    margin: 3%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #111;
    border-radius: 5px;
}

/* BLOC CONTACT */

#blocContact {
    padding-top: 15px;
    color: #F5FCFD;
    background-color: #902020;
    width: 20%;
    height: 415px;
    float: right;
    margin: 3%;
    padding-left: 5px;
    margin-right: 8%;
    padding-right: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #111;
    border-radius: 5px;
}

.blocContactForm {
    width: 250px;
}

.blocContactForm input {
    height: 15px;
}

.blocContactForm input[type=submit] {
    height: 35px;
}

/* BARRA DE NAVEGACIO */

.sidepanel {
    box-shadow: 0 8px 50px -20px #111;
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #902020;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidepanel a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    float: right;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #fdaa1a;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    float: right;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 8px;
    margin-top: 8px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

/* FOOTER */
footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 0px;
    background-color: #902020;
    height: 70px;
    box-shadow: 0 -5px 35px -35px #F5FCFD;
    color: white;
}

.footer {
    width: 50px;
    padding-left: 2.5%;
    padding-top: 10px;
    float: left;
}

#footerL {
    padding-top: 15px;
    padding-left: 5%;
    float: left;
}

#footerR {
    padding-top: 10px;
    padding-right: 2.5%;
    float: right;
    line-height: 25px;
}

/* CALENDARI */

#calendar {
    margin-bottom: 5%;
}

table {
    border-collapse: collapse;
    background: white;
    color: black;
}

th, td {
    font-weight: bold;
}

/* ANUNCIS */

#announcements h2 {
    font-weight: 500;
    text-decoration: underline;
}

#announcements {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    margin-bottom: 5%;
}

#butlletins {
    background-color: rgb(39, 37, 37);
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* SOCIAL */

#social {
    padding: 10%;
    padding-top: 0;
}

a.hyperLinkRemove {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

.reds {
    border-radius: 15px;
    margin: 0;
    padding: 5px;
    width: 25%;
    text-align: left;
    background-color: #902020;
}

.reds>h1, .red {
    margin: 10px;
    padding: 5px;
}

.red {
    background: white;
    color: #111;
}

.red>span,
p {
    margin: 4px;
    font-size: 90%;
}

/* HISTORIA */

img.story {
    width: 50%;
    border-radius: 15px;
}

#story p {
    font-size: 18px;
    text-align: left;
    padding-left: 15%;
}

/* CONTACTE */

#contact {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    text-align: left;
    margin-bottom: 5%;
}

label {
    font-weight: bold;
    color: rgb(15, 15, 15);
}

input[type=text], select, textarea {
    background-color: #ebebeb;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #111;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #c7881a;
}

.container {
    border-radius: 5px;
    background-color: #902020;
    padding: 20px;
}